html {
    background-color: #222;
}

header {
    background-color: #222;
    padding: 6% 22%;
    text-align: center;
    margin: auto;
    color: #aaa;
}

.seccion {
    background-color: #33312e;
    margin: auto;
    padding: 7%;
    size: 20%;
    font-size: 20px;
    line-height: 2;

    h2 {
        text-align: left;
        color: #ddd;
        padding: 0 14% 2% 14%;
        border-bottom: 2px solid #ddd;
    }
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
    color: #ddd
}

.proyecto a {
    text-decoration: none;
    color: #ccc;
    word-wrap: break-word;
}

#destacado {
    display: flex;
    justify-content: center;
    align-items: center;

    .contenedor {
        width: 70%;
        .video {
            position: relative;
            width: 100%;
            padding-bottom: 56%;
            border-radius: 8px;

            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                border: none;
            }
        }

        h3 {
            color: #f7efe9;
        
            a {
                font-style: italic;
            }
        }
    }
}

#libros {
    margin: 2% 0 0 0;
    background-color: #333;
    padding: 4%;

    .proyecto {
        flex: 0 0 auto;
        width: 20%;
        text-align: center;

        img {
            width: 100%;
            height: auto;
        }
    }
}

#otros {
    background-color: #555;

    h3 {
        text-align: center;
        color: #ddd;
    }

    .proyecto {
        flex: 0 0 auto;
        width: 20%;
        text-align: center;
        background-color: #f1f1f1;
        padding: 2%;
        border-radius: 8px;

        a {
            color: #555;
        }
    }
}